.register-box {
  background: #004498;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 20px;
  padding: 40px;
  width: 500px;
}

.register-box h2 {
  color: #ffffff;
  font-size: 24px;
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #ffffff;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffffff;
  font-size: 12px;
}

button {
  border-radius: 20px;
  border: none;
  background-color: #b59974;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #444444;
}
