.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #004498;
  padding: 50px;
  text-align: center;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #ffffff;
  text-align: center;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #ffffff;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffffff;
  font-size: 12px;
}

a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 15px;
  margin-top: 20px;
  display: inline-block;
}

button {
  border-radius: 20px;
  border: none;
  background-color: #b59974;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #444444;
}
